body {
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  color: #00698f;
}

a {
  text-decoration: none;
  color: #00698f;
}

a:hover {
  color: #0097c5;
}

input[type="text"], input[type="email"], input[type="password"] {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #00698f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0097c5;
}
